{%- style -%}
    #shopify-block-{{ block.id }} {
      {%- if block.settings.visibility_desktop -%}
        display: flex;
      {%- else -%}
        display: none;
      {%- endif -%}
      {%- if block.settings.container_size == 'fullwidth' -%}
        flex-direction: {{ block.settings.flex_direction_desktop }};
        align-items: {{ block.settings.align_items_desktop }};
        justify-content: {{ block.settings.justify_content_desktop }};
        gap: {{ block.settings.gap_desktop }}px;
      {%- endif -%}
      margin: {{ block.settings.margin_top_desktop }}px {{ block.settings.margin_right_desktop }}px {{ block.settings.margin_bottom_desktop }}px {{ block.settings.margin_left_desktop }}px;
      padding: {{ block.settings.padding_top_desktop }}px {{ block.settings.padding_right_desktop }}px {{ block.settings.padding_bottom_desktop }}px {{ block.settings.padding_left_desktop }}px;
      {%- if block.settings.border_type != 'none' -%}
        border-color: {{ block.settings.border_color }};
        border-width: {{ block.settings.border_width_top }}px {{ block.settings.border_width_right }}px {{ block.settings.border_width_bottom }}px {{ block.settings.border_width_left }}px;
        border-style: {{ block.settings.border_type }};
      {%- endif -%}
      border-radius: {{ block.settings.border_radius }}px;
      background-color: {{ block.settings.background_color }};
      {%- if block.settings.background_image_desktop -%}
        background-image: url('{{ block.settings.background_image_desktop | image_url: width: 1080 }}');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      {%- endif -%}
      {%- if block.settings.custom_height_desktop != blank -%}
        height: {{ block.settings.custom_height_desktop }};
      {%- endif -%}
      {%- if block.settings.min_height_desktop > 0 -%}
        min-height: {{ block.settings.min_height_desktop }}px;
      {%- endif -%}
      {%- if block.settings.custom_width_desktop != blank -%}
        width: {{ block.settings.custom_width_desktop }};
      {%- elsif block.settings.width_desktop > 0 -%}
        width: {{ block.settings.width_desktop }}px;
      {%- else -%}
        width: 100%;
      {%- endif -%}
      position: relative;
      {% if block.settings.flex_grow_desktop %}
        flex-grow: 1;
      {% endif %}
      {% if block.settings.flex_shrink_desktop %}
        flex-shrink: 1;
      {% endif %}
    }
  
    {%- if block.settings.background_color_overlay != blank -%}
      #shopify-block-{{ block.id }}:before {
        content: '';
        position: absolute;
        background: {{ block.settings.background_color_overlay }};
        opacity: {{ block.settings.overlay_opacity }};
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
  
      #shopify-block-{{ block.id }} > * {
        z-index: 2;
      }
    {%- endif -%}
  
    #shopify-block-{{ block.id }} .inner-con {
      width: 100%;
      margin: 0 auto;
      max-width: {{ block.settings.max_width }}px;
      display: flex;
      flex-direction: {{ block.settings.flex_direction_desktop }};
      align-items: {{ block.settings.align_items_desktop }};
      justify-content: {{ block.settings.justify_content_desktop }};
      gap: {{ block.settings.gap_desktop }}px;
      {%- if block.settings.min_height_desktop > 0 -%}
        min-height: {{ block.settings.min_height_desktop }}px;
      {%- endif -%}
    }
  
    @media (max-width: 767px) {
      #shopify-block-{{ block.id }} {
        {%- if block.settings.visibility_mobile -%}
          display: flex;
        {%- else -%}
          display: none;
        {%- endif -%}
        flex-direction: {{ block.settings.flex_direction_mobile }};
        align-items: {{ block.settings.align_items_mobile }};
        justify-content: {{ block.settings.justify_content_mobile }};
        gap: {{ block.settings.gap_mobile }}px;
        margin: {{ block.settings.margin_top_mobile }}px {{ block.settings.margin_right_mobile }}px {{ block.settings.margin_bottom_mobile }}px {{ block.settings.margin_left_mobile }}px;
        padding: {{ block.settings.padding_top_mobile }}px {{ block.settings.padding_right_mobile }}px {{ block.settings.padding_bottom_mobile }}px {{ block.settings.padding_left_mobile }}px;
        {%- if block.settings.background_image_mobile -%}
          background-image: url('{{ block.settings.background_image_mobile | image_url: width: 1080 }}');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        {%- endif -%}
        {%- if block.settings.custom_height_mobile != blank -%}
          height: {{ block.settings.custom_height_mobile }};
        {%- endif -%}
        {%- if block.settings.min_height_mobile > 0 -%}
          min-height: {{ block.settings.min_height_mobile }}px;
        {%- endif -%}
        {%- if block.settings.custom_width_mobile != blank -%}
          width: {{ block.settings.custom_width_mobile }};
        {%- elsif block.settings.width_mobile > 0 -%}
          width: {{ block.settings.width_mobile }}px;
        {%- else -%}
          width: 100%;
        {%- endif -%}
        {% if block.settings.flex_grow_mobile %}
          flex-grow: 1;
        {% endif %}
        {% if block.settings.flex_shrink_mobile %}
          flex-shrink: 1;
        {% endif %}
      }
  
      #shopify-block-{{ block.id }} .inner-con {
        flex-direction: {{ block.settings.flex_direction_mobile }};
        align-items: {{ block.settings.align_items_mobile }};
        justify-content: {{ block.settings.justify_content_mobile }};
        gap: {{ block.settings.gap_mobile }}px;
        {%- if block.settings.min_height_mobile > 0 -%}
          min-height: {{ block.settings.min_height_mobile }}px;
        {%- endif -%}
      }
    }
  {%- endstyle -%}
  
  {%- if block.settings.container_size == 'boxed' -%}
    <div class="inner-con">
  {%- endif -%}
  
  {%- content_for 'blocks', closest.product: block.settings.product_data -%}
  
  {%- if block.settings.container_size == 'boxed' -%}
    </div>
  {%- endif -%}
  
  {% schema %}
    {
      "name": "Container",
      "class": "shopify-builder-container",
      "blocks": [
        {
          "type": "_container-primary"
        },
        {
          "type": "_heading-block"
        },
        {
          "type": "_text-block"
        },
        {
          "type": "_image-block"
        },
        {
          "type": "_button-block"
        },
        {
          "type": "_linked-container"
        },
        {
          "type": "_localization-block"
        },
        {
          "type": "_slider-container"
        },
        {
          "type": "_slider-pagination-block"
        },
        {
          "type": "_icon-and-text-block"
        },
        {
          "type": "_product-price-block"
        },
        {
          "type": "_product-rating-block"
        },
        {
          "type": "_five-star-rating"
        },
        {
          "type": "_gallery-block"
        }
      ],
      "settings": [
        {
          "type": "header",
          "content": "Dynamic Data"
        },
        {
          "type": "product",
          "id": "product_data",
          "label": "Product Data"
        },
        {
          "type": "header",
          "content": "General Settings"
        },
        {
          "type": "header",
          "content": "Container size"
        },
        {
          "type": "select",
          "id": "container_size",
          "label": "Size",
          "default": "fullwidth",
          "options": [
            {
              "label": "Boxed",
              "value": "boxed"
            },
            {
              "label": "Fullwidth",
              "value": "fullwidth"
            }
          ]
        },
        {
          "type": "number",
          "id": "max_width",
          "label": "Max Width",
          "default": 1300
        },
        {
          "type": "number",
          "id": "width_desktop",
          "label": "Width (Desktop)",
          "default": 0
        },
        {
          "type": "text",
          "id": "custom_width_desktop",
          "label": "Custom Width (Desktop)"
        },
        {
          "type": "text",
          "id": "custom_height_desktop",
          "label": "Custom Height (Desktop)"
        },
        {
          "type": "number",
          "id": "min_height_desktop",
          "label": "Minimum Height",
          "default": 0
        },
        {
          "type": "number",
          "id": "width_mobile",
          "label": "Width (Mobile)",
          "default": 0
        },
        {
          "type": "text",
          "id": "custom_width_mobile",
          "label": "Custom Width (Mobile)"
        },
        {
          "type": "text",
          "id": "custom_height_mobile",
          "label": "Custom Height (Mobile)"
        },
        {
          "type": "number",
          "id": "min_height_mobile",
          "label": "Minimum Height",
          "default": 0
        },
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "color",
          "id": "background_color_overlay",
          "label": "Background Overlay Color"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Background Overlay Opacity",
          "default": 0.2,
          "min": 0,
          "max": 1,
          "step": 0.1
        },
        {
          "type": "image_picker",
          "id": "background_image_desktop",
          "label": "Background Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "background_image_mobile",
          "label": "Background Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Margin"
        },
        {
          "type": "number",
          "id": "margin_top_desktop",
          "label": "Margin Top (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_bottom_desktop",
          "label": "Margin Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_left_desktop",
          "label": "Margin Left (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_right_desktop",
          "label": "Margin Right (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_top_mobile",
          "label": "Margin Top (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_bottom_mobile",
          "label": "Margin Bottom (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_left_mobile",
          "label": "Margin Left (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_right_mobile",
          "label": "Margin Right (Mobile)",
          "default": 0
        },
        {
          "type": "header",
          "content": "Padding"
        },
        {
          "type": "number",
          "id": "padding_top_desktop",
          "label": "Padding Top (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_bottom_desktop",
          "label": "Padding Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_left_desktop",
          "label": "Padding Left (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_right_desktop",
          "label": "Padding Right (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_top_mobile",
          "label": "Padding Top (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_bottom_mobile",
          "label": "Padding Bottom (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_left_mobile",
          "label": "Padding Left (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_right_mobile",
          "label": "Padding Right (Mobile)",
          "default": 0
        },
        {
          "type": "header",
          "content": "Flexbox"
        },
        {
          "type": "select",
          "id": "flex_direction_desktop",
          "label": "Flex direction (Desktop)",
          "default": "column",
          "options": [
            {
              "label": "Column",
              "value": "column"
            },
            {
              "label": "Column Reverse",
              "value": "column-reverse"
            },
            {
              "label": "Row",
              "value": "row"
            },
            {
              "label": "Row Reverse",
              "value": "row-reverse"
            }
          ]
        },
        {
          "type": "select",
          "id": "flex_direction_mobile",
          "label": "Flex direction (Mobile)",
          "default": "column",
          "options": [
            {
              "label": "Column",
              "value": "column"
            },
            {
              "label": "Column Reverse",
              "value": "column-reverse"
            },
            {
              "label": "Row",
              "value": "row"
            },
            {
              "label": "Row Reverse",
              "value": "row-reverse"
            }
          ]
        },
        {
          "type": "select",
          "id": "align_items_desktop",
          "label": "Align Items (Desktop)",
          "default": "stretch",
          "options": [
            {
              "label": "Stretch",
              "value": "stretch"
            },
            {
              "label": "Start",
              "value": "flex-start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "End",
              "value": "flex-end"
            },
            {
              "label": "Baseline",
              "value": "baseline"
            }
          ]
        },
        {
          "type": "select",
          "id": "align_items_mobile",
          "label": "Align Items (Mobile)",
          "default": "stretch",
          "options": [
            {
              "label": "Stretch",
              "value": "stretch"
            },
            {
              "label": "Start",
              "value": "flex-start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "End",
              "value": "flex-end"
            },
            {
              "label": "Baseline",
              "value": "baseline"
            }
          ]
        },
        {
          "type": "select",
          "id": "justify_content_desktop",
          "label": "Justify Content (Desktop)",
          "default": "flex-start",
          "options": [
            {
              "label": "Start",
              "value": "flex-start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "End",
              "value": "flex-end"
            },
            {
              "label": "Space Between",
              "value": "space-between"
            },
            {
              "label": "Space Around",
              "value": "space-around"
            },
            {
              "label": "Space Evenly",
              "value": "space-evenly"
            }
          ]
        },
        {
          "type": "select",
          "id": "justify_content_mobile",
          "label": "Justify Content (Mobile)",
          "default": "flex-start",
          "options": [
            {
              "label": "Start",
              "value": "flex-start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "End",
              "value": "flex-end"
            },
            {
              "label": "Space Between",
              "value": "space-between"
            },
            {
              "label": "Space Around",
              "value": "space-around"
            },
            {
              "label": "Space Evenly",
              "value": "space-evenly"
            }
          ]
        },
        {
          "type": "number",
          "id": "gap_desktop",
          "label": "Gap (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "gap_mobile",
          "label": "Gap (Mobile)",
          "default": 0
        },
        {
          "type": "checkbox",
          "id": "flex_grow_desktop",
          "label": "Flex Grow (Desktop)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "flex_grow_mobile",
          "label": "Flex Grow (Mobile)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "flex_shrink_desktop",
          "label": "Flex Shrink (Desktop)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "flex_shrink_mobile",
          "label": "Flex Shrink (Mobile)",
          "default": false
        },
        {
          "type": "header",
          "content": "Border"
        },
        {
          "type": "select",
          "id": "border_type",
          "label": "Border Type",
          "default": "none",
          "options": [
            {
              "label": "None",
              "value": "none"
            },
            {
              "label": "Solid",
              "value": "solid"
            },
            {
              "label": "Dotted",
              "value": "dotted"
            },
            {
              "label": "Dashed",
              "value": "dashed"
            }
          ]
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border Color"
        },
        {
          "type": "number",
          "id": "border_width_top",
          "label": "Border Top Width",
          "default": 0
        },
        {
          "type": "number",
          "id": "border_width_bottom",
          "label": "Border bottom Width",
          "default": 0
        },
        {
          "type": "number",
          "id": "border_width_left",
          "label": "Border Left Width",
          "default": 0
        },
        {
          "type": "number",
          "id": "border_width_right",
          "label": "Border Right Width",
          "default": 0
        },
        {
          "type": "number",
          "id": "border_radius",
          "label": "Border Radius",
          "default": 0
        },
        {
          "type": "header",
          "content": "Visibility"
        },
        {
          "type": "checkbox",
          "id": "visibility_desktop",
          "label": "Show on desktop",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "visibility_mobile",
          "label": "Show on mobile",
          "default": true
        }
      ],
      "presets": [
        {
          "name": "Container"
        }
      ]
    }
  {% endschema %}