{%- style -%} 
    #shopify-block-{{ block.id }} {
      margin: {{ block.settings.margin_top_desktop }}px {{ block.settings.margin_right_desktop }}px {{ block.settings.margin_bottom_desktop }}px {{ block.settings.margin_left_desktop }}px;
      padding: {{ block.settings.padding_top_desktop }}px {{ block.settings.padding_right_desktop }}px {{ block.settings.padding_bottom_desktop }}px {{ block.settings.padding_left_desktop }}px;
      {%- if block.settings.custom_width_desktop != blank -%}
        width: {{ block.settings.custom_width_desktop }}px;
      {%- elsif block.settings.width_desktop > 0 -%}
        width: {{ block.settings.width_desktop }}px;
      {%- endif -%}
    }
  
    #shopify-block-{{ block.id }} .icon-and-text-wrapper {
      display: flex;
      align-items: center;
      gap: {{ block.settings.icon_text_gap }}px;
    }
  
    #shopify-block-{{ block.id }} .icon-and-text-wrapper .block-icon {
      width: {{ block.settings.icon_size }}px;
      height: auto;
    }
  
    #shopify-block-{{ block.id }} .icon-and-text-wrapper .text {
      color: {{ block.settings.text_color }};
      {%- if block.settings.text_size > 0 -%}
        font-size: {{ block.settings.text_size }}px;
      {%- endif -%}
    }
  
    @media (max-width: 767px) {
      #shopify-block-{{ block.id }} {
        margin: {{ block.settings.margin_top_mobile }}px {{ block.settings.margin_right_mobile }}px {{ block.settings.margin_bottom_mobile }}px {{ block.settings.margin_left_mobile }}px;
        padding: {{ block.settings.padding_top_mobile }}px {{ block.settings.padding_right_mobile }}px {{ block.settings.padding_bottom_mobile }}px {{ block.settings.padding_left_mobile }}px; 
        {%- if block.settings.custom_width_mobile != blank -%}
          width: {{ block.settings.custom_width_mobile }}px;
        {%- elsif block.settings.width_mobile > 0 -%}
          width: {{ block.settings.width_mobile }}px;
        {%- endif -%}
      }
    }
  {%- endstyle -%}
  
  <div class="icon-and-text-wrapper">
    {%- if block.settings.icon -%}
      {{ block.settings.icon | image_url: width: 100 | image_tag: class: 'block-icon' }}
    {%- endif -%}
    <div class="text">{{ block.settings.text }}</div>
  </div>
  
  {% schema %}
    {
      "name": "Icon and Text",
      "class": "icon-text-block",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "inline_richtext",
          "label": "text",
          "id": "text",
          "default": "Icon and text block"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "number",
          "id": "text_size",
          "label": "Text Size",
          "default": 0
        },
        {
          "type": "number",
          "id": "icon_size",
          "label": "Icon Size",
          "default": 24
        },
        {
          "type": "number",
          "id": "icon_text_gap",
          "label": "Icon and Text Gap",
          "default": 10
        },
        {
          "type": "header",
          "content": "General Settings"
        },
        {
          "type": "number",
          "id": "width_desktop",
          "label": "Width (Desktop)",
          "default": 0
        },
        {
          "type": "text",
          "id": "custom_width_desktop",
          "label": "Custom Width (Desktop)"
        },
        {
          "type": "number",
          "id": "min_height_desktop",
          "label": "Minimum Height",
          "default": 0
        },
        {
          "type": "number",
          "id": "width_mobile",
          "label": "Width (Mobile)",
          "default": 0
        },
        {
          "type": "text",
          "id": "custom_width_mobile",
          "label": "Custom Width (Mobile)"
        },
        {
          "type": "number",
          "id": "min_height_mobile",
          "label": "Minimum Height",
          "default": 0
        },
        {
          "type": "header",
          "content": "Margin"
        },
        {
          "type": "number",
          "id": "margin_top_desktop",
          "label": "Margin Top (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_bottom_desktop",
          "label": "Margin Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_left_desktop",
          "label": "Margin Left (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_right_desktop",
          "label": "Margin Right (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_top_mobile",
          "label": "Margin Top (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_bottom_mobile",
          "label": "Margin Bottom (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_left_mobile",
          "label": "Margin Left (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "margin_right_mobile",
          "label": "Margin Right (Mobile)",
          "default": 0
        },
        {
          "type": "header",
          "content": "Padding"
        },
        {
          "type": "number",
          "id": "padding_top_desktop",
          "label": "Padding Top (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_bottom_desktop",
          "label": "Padding Bottom (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_left_desktop",
          "label": "Padding Left (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_right_desktop",
          "label": "Padding Right (Desktop)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_top_mobile",
          "label": "Padding Top (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_bottom_mobile",
          "label": "Padding Bottom (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_left_mobile",
          "label": "Padding Left (Mobile)",
          "default": 0
        },
        {
          "type": "number",
          "id": "padding_right_mobile",
          "label": "Padding Right (Mobile)",
          "default": 0
        },
      ],
      "presets": [
        {
          "name": "Icon and Text"
        }
      ]
    }
  {% endschema %}